.disabled {
  cursor: not-allowed;
}

.spanLink {
  cursor: pointer;
}

.height_500 {
  height: 500px;
}

.login_image {
  background-size: cover;
  background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80') center center;
}
